* {
    margin: 0;
    padding: 0;
  }

html {
    background-color: rgb(38, 60, 78);
}

body {
    margin:56px;
}

.steps{
    background-color: rgb(59, 83, 102);
    padding: 50px 100px;
    text-align:center;
    display: block;
}

.listingredients {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 700;
}

li + li {
    margin-top: 14px;
}

h1,
h2,
p,
ul,
ol {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    list-style-position: inside;
}

.title {
    text-align: center;
}

.ingredients {
    margin: 18px;
    text-align: center;
}

.paragraph {
    margin: 18px 18px 18px 0px;
    text-align: center;
}

.description {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}